@model WineCellar.Models.Wine

@{
    ViewBag.Title = "Create";
}

<h2>Add Wine</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="form-group">
        <label for="exampleInputEmail1">Name</label>
        <div>
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Name)
        </div>
    </div>

    <div class="form-group">
        <label for="exampleInputEmail1">Grapes</label>
        <div>
            @Html.TextBoxFor(model => model.Grapes, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Grapes)
        </div>
    </div>

    <div class="form-group">
        <label for="exampleInputEmail1">Country</label>
        <div>
            @Html.TextBoxFor(model => model.Country, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Country)
        </div>
    </div>

    <div class="form-group">
        <label for="exampleInputEmail1">Region</label>
        <div>
            @Html.TextBoxFor(model => model.Region, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Region)
        </div>
    </div>

    <div class="form-group">
        <label for="exampleInputEmail1">Year</label>
        <div>
            @Html.TextBoxFor(model => model.Year, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Year)
        </div>
    </div>

    <input type="submit" value="Create" class="btn btn-primary btn-lg" />
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
